node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env
.env.*
!.env.example
__pycache__/
*.py[cod]
*$py.class
env/
venv/
(.venv) PS D:\My Project\RetailIQ> Get-Content .gitignore
node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env
.env.*
!.env.example
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

